html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
    padding: 30px;
}

.bar {
    margin-bottom: 30px;
}
.bar h1 {
    font-family:Noto Sans TC;
    font-weight: block;
    font-size: 30px;
}

.content {
    width: 60%;
    background: #F5F7FA 0% 0% no-repeat padding-box;
    border-radius: 0px 4px 4px 0px;
    opacity: 1;
    left: 18%;
    position: absolute;
    z-index:2;
}

.content ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

.content li {
    align-items: center;
    text-align: center;
    line-height: 50px;
    display: flex;
    align-items: center;
}

.content li img {
    margin-right: 5px;
}

.shopcar {
    color: #4BC9C9;
}

.banner_list{
    width: 1280px;
    height: 130px;
    background: transparent linear-gradient(270deg, #82D6D6 0%, #8BC1EF 100%) 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    /* position: relative;
    margin-top: 120px; */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.banner_content {
    border-left: 3px solid #ffffff;
    margin-left: 25px;
    padding-left: 25px;
}

.banner_content h2{
    text-align: left;
    letter-spacing: 0;
    color: #FFFFFF;
    font-size: 36px;
    opacity: 1;
}

.banner_content p {
    text-align: left;
    letter-spacing: 0;
    color: #FFFFFF;
    font-size: 16px;
    opacity: 1;
}

.banner_money ul {
    display: flex;
    align-items: baseline;
}

.banner_money li {
    font-size: 15px;
    margin: 0 27px;
    color: #FFFFFF;
    letter-spacing:3px;
}

.banner_money span {
    font-size: 24px;
    font-weight: bold;
    
}

.focus {
    text-align:center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.focus ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.focus img {
    width: 36px;
    height: 27px;
    margin-right: 10px;
}

.focus h1 {
    font-size: 20px;
    letter-spacing: 0;
    color: #606266;
    opacity: 1;
}

.shop {
    width: 820px;
    margin: 0 auto;
    display: flex;
}

.shop_left {
    width: 410px;
}

.shop_left ul {
    display: flex;
    justify-content: flex-start ;
    
    /* align-content: center; */
}

.shop_left li {
    padding-right: 20px;
}

.shop_right {
    width: 410px;
}

.shop_right ul {
    display: flex;
    justify-content: flex-end ;
    margin-right: 10px;
}

.shop_right li {
    padding-right: 20px;
}


.shop_list {
    width: 820px;
    margin: 0 auto;
    position: relative;
}

.shop_list1 {
    border-left: 2px solid #4BC9C9;
    font-size: 15px;
    letter-spacing: 0;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 20px;   
    border-collapse: collapse;
    background: #F5F7FA 0% 0% no-repeat padding-box;
    
}

.shop_news, .border {
    display: flex;
    flex-direction: row;
}

.store {
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 15px;
}

.store1 {
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 15px;
}

.store2 {
    margin-top: 20px;
    margin-left: 60px;
    margin-bottom: 15px;
}
.border {
    border-top: 2px solid #DCDFE6;
}

.location {
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 15px;
}

.location1 {
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 15px;
}

.shop_news span {
    font-size: 12px;
    color: #4BC9C9;
}

.shop_location {
    width: 230px;
    height: 200px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 12px #0000000F;
    border: 1px solid #E4E7ED;
    opacity: 1;
    position: absolute;
    top: 0;
    right: -90px;
}

.shop_location li {
    line-height: 30px;
    margin-left: 10px;
    margin-top: 2px;
}

.location1 {
    background-color: #F5F7FA;
}

.shop_location h3 {
    text-align: left;
    font-size: 15px;
    letter-spacing: 0;
    color: #606266;
    opacity: 1;
}

.shop_location p {
    text-align: left;
    font-size: 12px;
    letter-spacing: 0;
    color: #909399;
    opacity: 1;
}

.news {
    width: 820px;
    margin: 0 auto;
    padding-top: 70px;
    margin-bottom: 20px;
}
.news h3 {
    text-align: left;
    font-size: 15px;
    letter-spacing: 0;
    color: #000000;
    margin-bottom: 20px;
}

.form-info {
    /* height: 220px; */
    border-left: 2px solid #4BC9C9;
    line-height: 30px;
    margin-bottom: 30px;
}

.form-info label {
    padding: 20px 46px;
    text-align: left;
    font-size: 15px;
    letter-spacing: 0;
    color: #606266;
    border-radius: 4px;
}

.form-info label.phone {
    padding: 30px 35px 30px 55px;
}

.form-info label.email {
    padding: 0 45px;
}

#person, #address_number {
    border: 1px solid #dcdfe6;
    border-radius: 4px;
}

.form-info select {
    width: 100px;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
}

#phone {
    width: 244px;
    border: 1px solid #fa5555;
    border-radius: 4px;
}

.form-info input {
   height: 40px;
   font-size: 15px;
}

.form-info select {
    width: 75px;
    height: 46px;
}

#person1 {
    border-radius: 4px;
    margin-left: 5px;
}


#address_content {
    border: 1px solid #fa5555;
    border-radius: 4px;
}


#email_news{
    margin-left: -4px;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
}


.form-info span  {
    font-size:12px;
    letter-spacing: 0;
    color: #FA5555;
    opacity: 1;
}

.note {
    margin-left:526px;
}

.important {
    margin-left: 230px;
}

.person_news {
    width: 820px;
    margin: 0 auto;
    margin-bottom: 20px;
    line-height: 30px;
}

.person_news h3 {
    text-align: left;
    font-size: 15px;
    letter-spacing: 0;
    color: #000000;
    margin-bottom: 20px;
}

.person_news_focus {
    border-left: 2px solid #4BC9C9;
}

.person_news_focus p {
    margin-left: 40px;
    margin-bottom: 10px;
}

.person_news_focus label {
    padding: 0 41px;
    text-align: left;
    font-size: 15px;
    letter-spacing: 0;
    color: #606266;
    opacity: 1;
}

.person_news_focus input {
    height: 40px;
    font-size: 15px;
    margin-bottom: 16px;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
}

.person_news_focus select {
    width: 75px;
    height: 46px;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
}

#email1 {
    margin-left: 10px;
}

#address_number1 {
    margin-left: -10px;
}

.container {
    width: 820px;
    margin: 0 auto;
}

.container ul {
    text-align: left;
    font-size: 12px;
    letter-spacing: 1.2px;
    opacity: 1;
    line-height: 20px;
    position: absolute;
}

.container li {
    color: #909399;
}

.container .list_end {
    text-align: left;
    font-size: 12px;
    letter-spacing: 1.2px;
    color: #000000;
}
.container a {
    color: #4BC9C9;
    text-decoration:none;
}

.container img {
    position: relative;
    left:550px;
}

.confirm {
    width: 820px;
    text-align: left;
    font-size:15px;
    letter-spacing: 0;
    color: #606266;
    opacity: 1;
    margin: 0 auto; 
}

.confirm li {
    margin-bottom: 10px;
}

.confirm img {
    margin-left: 10px;
}

.confirm span {
    color: #FA5555;
}

.footer {
    width: 820px;
    margin-top: 30px;
    position:absolute;
    right:0;
}

.previous {
    width: 155px;
    height: 56px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDFE6;
    border-radius: 4px;
    opacity: 1;
    text-align: center;
    font-size:20px;
    margin-left: 100px;
    margin-right: 20px;
}

.next {
    width: 155px;
    height: 56px;
    background: #4BC9C9 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    text-align: center;
    font-size:20px;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}